{
    "RootNamespace": "Serene3",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=182.61.37.23; Initial Catalog=Serene3_Default_v1; User ID=mesadmin;Password=wer234!",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Document",
            "ConnectionString": "Data Source=182.61.37.23; Initial Catalog=Document; User ID=mesadmin;Password=wer234!",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.requirement",
                    "Identifier": "Requirement",
                    "Module": "Document",
                    "ConnectionKey": "Document",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Customner",
                    "Identifier": "Customner",
                    "Module": "Document",
                    "ConnectionKey": "Document",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Product",
                    "Identifier": "Product",
                    "Module": "Document",
                    "ConnectionKey": "Document",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Customer",
                    "Identifier": "Customer",
                    "Module": "Document",
                    "ConnectionKey": "Document",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Status",
                    "Identifier": "Status",
                    "Module": "Document",
                    "ConnectionKey": "Document",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Finance",
            "ConnectionString": "Data Source=182.61.37.23; Initial Catalog=Finance; User ID=mesadmin;Password=wer234!",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.tbookingunit",
                    "Identifier": "Tbookingunit",
                    "Module": "Finance",
                    "ConnectionKey": "Finance",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tcollectionstatus",
                    "Identifier": "Tcollectionstatus",
                    "Module": "Finance",
                    "ConnectionKey": "Finance",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tcompany",
                    "Identifier": "Tcompany",
                    "Module": "Finance",
                    "ConnectionKey": "Finance",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tcustomer",
                    "Identifier": "Tcustomer",
                    "Module": "Finance",
                    "ConnectionKey": "Finance",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.texpresstype",
                    "Identifier": "Texpresstype",
                    "Module": "Finance",
                    "ConnectionKey": "Finance",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tfinance",
                    "Identifier": "Tfinance",
                    "Module": "Finance",
                    "ConnectionKey": "Finance",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tinputticketstatus",
                    "Identifier": "Tinputticketstatus",
                    "Module": "Finance",
                    "ConnectionKey": "Finance",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.torderunit",
                    "Identifier": "Torderunit",
                    "Module": "Finance",
                    "ConnectionKey": "Finance",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tpaymentstatus",
                    "Identifier": "Tpaymentstatus",
                    "Module": "Finance",
                    "ConnectionKey": "Finance",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tproducttype",
                    "Identifier": "Tproducttype",
                    "Module": "Finance",
                    "ConnectionKey": "Finance",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tspecification",
                    "Identifier": "Tspecification",
                    "Module": "Finance",
                    "ConnectionKey": "Finance",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tsuppliercompany",
                    "Identifier": "Tsuppliercompany",
                    "Module": "Finance",
                    "ConnectionKey": "Finance",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tticketstatus",
                    "Identifier": "Tticketstatus",
                    "Module": "Finance",
                    "ConnectionKey": "Finance",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=182.61.37.23; Initial Catalog=Serene3_Northwind_v1; User ID=mesadmin;Password=wer234!",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Serene3\\Serene3.Web\\Serene3.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}