@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Finance.Texpresstype.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene3.Finance.TexpresstypeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>